.home {
  width: 100%;
  position: relative;
  height: 100%;
  p {
    position: relative;
    width: 1104px;
    height: 187px;
    top: 250px;
    opacity: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 0.05em;
    left: 200px;
    color: #000000;
  }
  &__perspective {
    left: 40%;
    position: relative;
    width: 900px;
    height: 550px;
    z-index: -1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: visible !important;
    display: inline-block;

    * {
      position: absolute;
    }
  }
}
