@import "./variables";

@media screen and (max-width: $screen-lg - 1px) {
  .contact {
    &__header {
      font-size: 1.5rem;
    }
    &__title {
      font-size: 1.3rem;
    }
    &__p {
      font-size: 1.3rem;
    }
    &__rights {
      font-size: 1.3rem;
    }
  }
}
