@import "./variables";

@media screen and (max-width: $screen-xl - 1px) {
  .home {
    &__perspective {
      top: 0px;
      width: 100%;
      height: auto;
      left: 0px;
      transform: scale(0.6);
    }
  }
}

@media screen and (max-width: $screen-lg - 1px) {
  .home {
    p {
      width: 100%;
      font-size: 1.3rem;
      height: auto;
      top: 150px;
    }
    &__perspective {
      top: -100px;
      width: 100%;
      height: auto;
      left: -100px;
      transform: scale(0.4);
    }
  }
}
